<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mybatis.mapper.TodoMapper">
    <select id="getTodoList" resultType="com.example.todo.endpoint.todo.domain.model.TodoDto"><![CDATA[
        select *
        from todo
    ]]></select>

    <insert id="insertTodo" parameterType="com.example.todo.endpoint.todo.domain.model.TodoDto"><![CDATA[
            INSERT INTO todo
            values(nextval('seq_id'),#{title},false,current_timestamp,null)
    ]]></insert>

    <delete id="deleteTodo" parameterType="Int"><![CDATA[
            DELETE FROM todo
            WHERE index = #{index}
    ]]></delete>
</mapper>