<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mybatis.mapper.TodoMapper">
    <select id="getTodoList" resultType="com.example.todo.endpoint.todo.domain.model.TodoDto"><![CDATA[
        select *
        from todo
    ]]></select>

    <insert id="insertTodo" parameterType="com.example.todo.endpoint.todo.domain.model.TodoDto"><![CDATA[
        INSERT INTO todo (schedule, title, description, create_at, update_at, index)
        VALUES (#{schedule},#{title},#{description},current_timestamp,null,(SELECT uuid_in(md5(random()::text || now()::text)::cstring)))
    ]]></insert>
</mapper>